.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
}

.cat-gif {
    display: inline-block;
    width: 350px; 
    height: 350px; 
    margin-right: 20px;
}

.text-block {
    flex: 1;
    padding-left: 50px;
}
